[flake8]
#ignore = D203
exclude =
    .svn,
    CVS,
    .bzr,
    .hg,
    .git,
    __pycache__,
    .tox,
    .eggs,
    *.egg,
    .ipynb_checkpoints,
    # virtual env
    venv
max-complexity = 10
max-line-length = 120
