absl-py==0.1.7
attrs==17.3.0
autopep8==1.3.3
bleach==1.5.0
cycler==0.10.0
decorator==4.1.2
entrypoints==0.2.3
flake8==3.5.0
html5lib==0.9999999
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.0
jupyter-core==4.4.0
jupyter-tensorboard==0.1.4
jupyterlab==0.30.6
jupyterlab-launcher==0.6.0
Markdown==2.6.10
MarkupSafe==1.0
matplotlib==2.1.1
mccabe==0.6.1
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.2.2
numpy==1.13.3
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
protobuf==3.5.0.post1
ptyprocess==0.5.2
py==1.5.2
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.3.1
python-dateutil==2.6.1
pytz==2017.3
pyzmq==16.0.3
simplegeneric==0.8.1
six==1.11.0
tb-nightly==1.5.0a20171221
terminado==0.8.1
testpath==0.3.1
tf-nightly==1.5.0.dev20171221
tornado==4.5.2
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.13
